.answer{
    border: none;
    position: relative;
    background: #fff;
    padding: 12px;
    margin-bottom: 10px;
    margin-left: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #444;
    cursor: pointer;
  }
  .answer:hover{
    background: #428BCA;
    color: white;
    text-decoration: underline;
  }
  .answer.active:hover{
    background: rgb(72, 231, 78);
  }
  .answer.active{
    color: white;
    background: #3ED443;
  }