body{
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, Ubuntu, Roboto, Oxygen, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.flex-container{
  display: flex;
  height: 700px;
  max-height: 85vh;
}
.main-section{
  flex-grow: 4;
  flex-basis: 0;
}
.side-bar{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  flex-basis: 0;
}

.side-bar-button{
  border: none;
  position: relative;
  background: #B7B7B7;
  padding: 20px;
  margin-bottom: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
  
}
.side-bar-button.active{
  background: #3ED443;
}
.side-bar-button i{
  position: absolute;
  left: 20%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
}