.header{
    display: flex;
    flex-direction: row;
    color: white;
    text-align: center;
    font-size: 1.5rem;
    /*background-image: linear-gradient(rgb(135, 252, 99), rgb(12, 180, 87));*/
    background: #33333a;
    margin-bottom: 15px;
    padding: 15px 0;
}
.title{
    flex-grow: 4;
}
.username{
    text-align: right;
    margin-right: 25px;
    flex-grow: 1;
}
.header i{
    margin-right: 10px;
    transform: scale(0.9);
}