.header{
    display: flex;
    flex-direction: row;
    color: white;
    text-align: center;
    font-size: 2rem;
}
.title{
    flex-grow: 4;
    background-image: linear-gradient(rgb(135, 252, 99), rgb(12, 180, 87));
    padding: 15px 0;
    margin-right: 2px;
}
.username{
    flex-grow: 1;
    background-image: linear-gradient(rgb(135, 252, 99), rgb(12, 180, 87));
    padding: 15px 0;
}
.header i{
    margin-right: 10px;
    transform: scale(0.9);
}