.header{
    
    /*background-image: linear-gradient(rgb(135, 252, 99), rgb(12, 180, 87));*/
    background: #34343a;
    margin-bottom: 15px;
    padding: 15px 0;
    
}
.flex{
    margin: auto;
    display: flex;
    flex-direction: row;
    color: white;
    text-align: center;
    font-size: 1.5rem;
    width: 100%;
    max-width: 1250px;
}
.title{
    flex-grow: 4;
}
.username{
    margin-right: 25px;
    flex-grow: 1;	
}
.username button:hover{
	background: #428BCA;
}
.username button {
	border: none;
	color: white;
	padding: 13px 30px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	background: #3ED443;
	border-radius: 5px;
}
.header i{
    margin-right: 10px;
    transform: scale(0.9);
}
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}