body {
  margin: 0;
}

.headdiv {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-image: linear-gradient(rgb(135, 252, 99), rgb(12, 180, 87));
}

.headAppName {
  float: left;
  width: 70%;
}

.headUserName {
  float: right;
  width: 30%;
  background: white;
}

.heada1, .heada2 {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 26px;
  text-decoration: none;
  font-size: 150%;
  position: relative;
  height: 6%;
}

.heada2 {
  margin-left: 3px;
  background-image: linear-gradient(rgb(135, 252, 99), rgb(12, 180, 87));
  font-size: 100%;
}

li a:hover {
  background-color: rgb(124, 160, 128);
  background-image: linear-gradient(rgb(139, 241, 135), rgb(6, 204, 49));
}


.userlogo {
  border-radius: 50%;
}

.dropbtn {
  background-color: rgb(12, 180, 87);
  color: white;
  padding: 16px;
  font-size: 16px;
  margin: 20px 5px 5px 10px;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus, .SideMenuElement:hover, .SideMenuElement:focus {
  background-color: rgb(8, 114, 56);
  outline: 0;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd
}

.show {
  display: block;
}

.SelectSubject {
  width: 15%;
}

.curriculum, .SelectSubject, .mainSideMenu {
  float: left;
}

.curriculum {
  margin-top: 10px;
  height: 483px;
  width: 54%;
  top: 0px;
  left: 250px;
  border-style: solid;
  border-color:  rgb(3, 87, 80);
  border-radius: 1%;

}

.SideMenuElement {
  margin: 0px 0px 30px 0px;
  width: 200px;
  border-radius: 10%;
  background-color: rgb(12, 180, 87);
  color: white;
  padding: 16px;
  font-size: 16px;
  cursor: pointer;
  border-color: rgb(12, 180, 87);
}

.mainSideMenu {
  margin-top: 20px;
  float: right;
  width: 30%;
  text-align: center;
}

.htmldata{
  width: 40%;
}